<%= form_with(model: cllass, local: true) do |form| %>
  <% if cllass.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cllass.errors.count, "error") %> prohibited this cllass from being saved:</h2>

      <ul>
      <% cllass.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
